<!-- NHOA BT DEMO -->
<launch>

  <!-- Arguments -->
  <!-- HRI arguments -->
  <param name="engaged_level_threshold"             type="int" value="10" /> 
  <param name="engaging_level_threshold"            type="int" value="5" />  
  <param name="ids_match_confidence_threshold"      type="double" value="0.5" />  <!-- [0 - 1] -->
  <param name="smile_score_threshold"               type="double" value="0.42" />  <!-- [0 - 1] -->

  <!-- Questionnaire arguments -->
  <param name="questionnaire_max_iterations"        type="int" value="3" />  <!-- [0 - 1] -->

  <!-- Approach navigation arguments -->
  <param name="approach_distance_threshold"         type="double" value="2.0" />

  <!--  ============================== -->
  <!-- run nhoa bt demo node-->
  <node name="nhoa_bt_demo" pkg="nhoa_bt" type="nhoa_bt_demo" respawn="false" output="screen" />

</launch>